@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&family=Merriweather:ital,wght@0,700;1,400&display=swap');

header {
    text-align: center;
}

header {
    margin-top: 80px;
}

.banner {
    position: relative;
    text-align: center;
}

.banner-text {
    padding-bottom: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* You can adjust the text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Optional text shadow for better visibility */
    z-index: 1;
    /* Ensure text is positioned above the image */
}

.banner-text h1 {
    padding: 0px;
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    /* 131.944% */
}

.banner-text h4 {
    margin-top: 0px;
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offer {
    text-align: center;
}

.offer-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.holiday p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday span {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.promotion {
    /* text-align: center; */
    background-image: url(../image/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin-left: 50px;
    margin-top: 20px;
    justify-items: center;
}

.promotion-con {
    display: flex;
}

.promotion-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 900;
}

.promotion-paragraph {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.promotion-con button {
    background-color: black;
    color: #f0ebeb;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.promotion-con img {
    margin-top: 100px;
    margin-right: 100px;

}

.promotion-text {
    margin-top: 200px;
    margin-left: 100px;
}

.address {
    text-align: center;
    background-color: rgb(235, 147, 147);
    width: 1320px;
    height: 482px;
    margin-left: 50px;
    margin-top: 100px;
}

.address-text {
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.address-text button {
    width: 167px;
    height: 56px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
}

.address-text span {
    color: #F00;
}

.upcoming-offer {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.upcoming-offer-1 {
    padding-right: 30px;
    margin-top: 150px;
}

.upcoming-offer-1 span {
    font-size: 24px;
    font-weight: 500;
    color: #F00;
}

#offer-title-1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.upcoming-offer-1 p {
    font-size: 20px;
    font-weight: 400;
}

.upcoming-offer-img {
    padding: 45px;
    margin-right: 150px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.upcoming-offer-2 {
    margin-top: 150px;
}

.upcoming-offer-2 span {
    color: #F00;
    font-size: 50px;
    font-weight: 700;
}

.upcoming-offer-2 p {
    font-size: 20px;
}

.dollar-sit {
    text-align: center;
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.dollar-sit-text h5 {
    font-size: 24px;
    font-weight: 500;
}

.dollar-sit-text h2 span {
    color: #F00;
}

.dollar-sit-text h2 {
    font-size: 72px;
    font-weight: 900;
}

.dollar-sit-text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.portfolio{
    display: flex;
    gap: 24px;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
}

